@media only screen and (max-width: 500px) {
    body {
        background-color: rgb(113, 219, 157);

        main {
            background-color: rgb(216, 209, 209);
            border-radius: 5px;
        }
    }
}

/*
.ad {
    float: left;
}
*/

@media only screen and (min-width: 501px) {
    body {
        background-color: rgb(2, 240, 14);
    }
}

body {
    color: rgb(117, 88, 88);
}

main {
    background-color: rgb(113, 219, 157);
    width: 70%;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer_container {
    display: flex;
    justify-content: space-between;

}

.ad {
    width: 30%; /* Breite für das Werbeelement */
    background-color: rgba(255, 255, 0, 0.5); /* Beispielhintergrund für die Werbung */
    padding: 20px;
    box-sizing: border-box; /* Damit Padding die Breite nicht beeinflusst */
    float: left;
    height: 97vh;
}

.container {
    border-radius: 5px;
    height: 97vh;
    width: 70%;
    margin: 0;
    text-align: left;
    background-color: rgb(113, 219, 157);
    display: inline-block;
}

.text {
    margin-left: 10%;
}

li {
    list-style: none;
}

a {
    color: rgb(117, 88, 88);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a span:hover {
    text-decoration: underline;
    color: red;
}

span{
    color: red;
}